*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main h1{
    padding-top: 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.container-termometro{
    width: 20%;
    height: 50px;
    margin-bottom: 50px;
    border: solid 2px black;
    transform: rotate(90deg);
    display: flex;
    justify-content: end;
}
.container-variacion{
    background-color: red;
    display: flex;
    width: 10%;
    height:100%;
    transform: rotate(180deg);
}

.container-botones{
    padding-top: 250px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container-botones button{
    padding: 10px 25px;
    background-color: aqua;
    border: solid 1px black;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
}
.container-botones button:hover{
    background-color: blue;
    color: white;
}
.container-botones input{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px black;
}
.container-resultado{
    display: flex;
    width: 100px;
    height: 50px;
    border: solid 1px black;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
@media (max-width:400px) {
    .container-termometro{
        width: 70%;
        height: 50px;
        
        border: solid 2px black;
        transform: rotate(90deg);
        display: flex;
        justify-content: end;
    }
    .container-variacion{
        background-color: red;
        display: flex;
        width: 20%;
        height:100%;
        transform: rotate(180deg);
    }
    .container-botones{
        padding-top: 100px;
        display:grid;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}